{% extends 'app/base.html' %}

{% load utils %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="col-md-6">
                <div class="card"> 
                    <div class="card-header pl-5">
                        <b>
                        <p>{% now "Y" %}年{% now "F" %}{% now "j" %}日({% now "D" %})</p>
                        <p>現在時刻  [{% now "H" %}:{% now "i" %}]</p>
                        <b>
                    </div>
                    <div class="card-body"> 
                        <form  method="post">
                            {% csrf_token %}
                            <input class="col-12  btn-outline-success" type="submit" name="button_1" value="出勤"> 
                            <input class="col-12  btn-outline-danger" type="submit" name="button_2" value="退勤"> 
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div class="row mt-4">
            <div class="col-md-12">
                <a class="btn btn-info btn-lg btn-block" href="{% url 'record' %}" >打　刻　履　歴</a>
                {% if user|in_group:"admin" %}
                <p>〜管理者メニュー〜</p>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'admin_record' %}" >勤　怠　管　理</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'register' %}" >新規ユーザー登録</a>
                <a class="btn btn-info btn-lg btn-block" href="{% url 'admin_date' %}">日　付　登　録</a>
                {% endif %}
            </div>
    </div>
    
    {% if messages %}

    <div class="row">
        <div class="messages mt-3 ml-3">
            {% for message in messages %}
            <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}